{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/staff_login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="overall">
        <img src="{% static 'images/staff.png' %}" class="user-img">
    <form  method="POST" autocomplete="off">
        {% csrf_token %}
        <center><h1>Staff Login</h1></center>
        <label for="">username</label>
        <input type="text" placeholder="username" name="username" value="{{ form.username.value|default:''}}">
        <p>{{ form.username.errors }}</p>
        <label for="">password</label>
        <div class="password-box">
            <input type="password" placeholder="Enter your Password..." name="password"  class="input-border-none" id="password">
            <img src="{% static 'images/hidden eye.png' %}" class="password-icon" id="passwordicon">
        </div>
        <p>{{ form.password.errors }}</p>
        {% for error in form.non_field_errors %}
           <p style="color: red;font-weight: 600;">{{error}}</p>
       {% endfor %}
       <a href="">Forgot password</a>   
        <center><button type="submit">Login</button></center>
        <center><p style="padding-top: 10px;">Don't have Account <a href="{% url 'staff_register' %}">Register</a></p></center>
    </form>
</div>

<script src="{% static 'js/Register.js' %}"></script>

</body>
</html>